<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RPZ 1C_Developer_TestDB Recovery</title>
</head>


<body>
<br>
<div class="alert alert-success" role="alert">
    <p>База данных {{ one_db }} недоступна для восстановленя.</p>
    <hr>
</div>
<br>
</body>
<body>
<table>
  <thead>
    <tr>
      <th>{{'Свяжитесь с симтемным администратором. Вожможные причины сбоя:'}}</th>
    </tr>
  </thead>


    <tr><td>{{ 'Архив не достуепен:  '}}{{ one_db }}</td></tr>
    <tr><td>{{ 'Нет места на диске:  '}}{{ one_db }}</td></tr>

</table>


</body>
</html>
